*.class
#packge file
*.war
*.ear

*.orig
target/

.settings/
.project
.classpath

.idea/
/.idea/
*.iml
*.ipr
### Example user template template
### Example user template

# IntelliJ project files


out
gen
